@import "./utils/variables";
@import "./components/nav";
@import "./components/carousel";
@import "./components/skew";
@import "./components/cardslider";
@import "./pages/home";
@import "./pages/services";
@import "./pages/news";
@import "./pages/message";
@import "./pages/references";

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: $bgColor;
    font-family: $fontFamily;
    background-image: $homeBgImage;
    background-repeat: no-repeat;
    width: 100vw;
    overflow-x: hidden;
}