@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__logo {
  margin: 25px 150px;
}

.nav-wrapper {
  background-image: url(../ressources/fond-nav.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  z-index: 5;
  width: 60%;
  height: 10em;
}

.nav-content {
  width: 80%;
  height: 50px;
  font-size: 1em;
  color: rgba(27, 83, 147, 0.6509803922);
  font-weight: 400;
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  position: relative;
}
.nav-content__item {
  width: 80px;
  margin: 0 20px;
  font-weight: 600;
  color: rgba(27, 83, 147, 0.6509803922);
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-content__item.active-item {
  color: #1b5393;
}
.nav-content__item__bullet {
  display: block;
  width: 20px;
  height: 6px;
  margin: 10px 0;
  border-radius: 25px;
  background-color: #F18B87;
}
.nav-content__item__bullet.inactive {
  background-color: rgba(241, 138, 135, 0.1725490196);
  display: none;
}
.nav-content__item:hover {
  color: #1b5393;
}
.nav-content__item:hover > span {
  display: block;
}
.nav-content__item:hover > ul {
  display: flex;
}
.nav-content__sublist {
  background-color: rgba(255, 255, 255, 0.9490196078);
  margin-top: 2px;
  width: 180px;
  height: 200px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  font-weight: 400;
  color: rgba(27, 83, 147, 0.6509803922);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  display: none;
  cursor: default;
  position: relative;
}
.nav-content__sublist::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid lightgrey;
  position: absolute;
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
}
.nav-content__sublist.products {
  width: 500px;
  transform: translateX(-60px);
  justify-content: flex-start;
  height: auto;
  font-size: 0.85em;
  background-color: rgba(255, 255, 255, 0.9490196078);
}
.nav-content__sublist.products::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid lightgrey;
  position: absolute;
  top: -3%;
  left: 62%;
  transform: translateX(-50%);
}
.nav-content__sublist__title {
  padding: 20px 20px 0 20px;
  width: 100%;
  color: #1b5393;
  font-weight: 600;
}
.nav-content__sublist__section {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding: 0 20px;
  width: 100%;
  height: 125px;
  justify-content: space-between;
}
.nav-content__sublist__section__list {
  display: inherit;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-content__sublist__section__list__item:not(:last-child) {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.2274509804);
}
.nav-content__sublist__section__list__item:hover {
  color: #F18B87;
  cursor: pointer;
}
.nav-content__sublist__footer {
  background-color: rgba(211, 211, 211, 0.137254902);
  border-radius: 0 0 20px 20px;
  padding: 20px;
}
.nav-content__sublist__footer__title {
  color: #000000;
  font-weight: 600;
}
.nav-content__sublist__footer__text {
  color: #000000;
  font-weight: 300;
}
.nav-content__subitem {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 0.85em;
}
.nav-content__subitem:not(:last-child) {
  border-bottom: 1px solid rgba(211, 211, 211, 0.2274509804);
}
.nav-content__subitem:hover {
  color: #F18B87;
  cursor: pointer;
}
.nav-content__contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
  margin: auto 0;
  position: relative;
  background-color: #F18B87;
  width: 330px;
  height: 50px;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 0.9em;
}
.nav-content__contact__tel {
  cursor: pointer;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border-radius: 25px 0 0 25px;
  background-color: #f4a19e;
}
.nav-content__contact__tel__call {
  margin: 0;
}
.nav-content__contact__tel__hours {
  margin: 0;
  font-size: 0.6em;
  font-weight: 400;
}
.nav-content__contact__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-content__contact__mail {
  margin: 0;
  cursor: pointer;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.nav-content__contact__mail__text {
  margin: 0;
}

.carousel {
  height: 32rem;
}
.carousel-inner {
  height: 100%;
  width: 88%;
}
.carousel-item {
  height: 100%;
  background: transparent;
  color: #FFFFFF;
  position: relative;
}
.carousel-control-prev {
  left: 15%;
  bottom: 15%;
  top: auto;
  width: 44px;
  height: 44px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.carousel-control-next {
  left: calc(15% + 44px - 1px);
  bottom: 15%;
  top: auto;
  width: 44px;
  height: 44px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  border-left: 1px solid rgba(45, 95, 152, 0.5019607843);
}
.carousel-indicators {
  left: 8%;
  bottom: 12%;
  width: fit-content;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carousel-indicators > li {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.carousel-indicators > li.active {
  background-color: #F18B87;
}

.bi-chevron-left, .bi-chevron-right {
  font-size: 20px;
  font-weight: 200;
  color: #1b5393;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 200px;
}
.container p {
  font-size: 30px;
  font-weight: 600;
  width: 70%;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.329);
}
.container .btn {
  background-color: rgba(255, 255, 255, 0.9490196078);
  border-radius: 25px;
  color: #1b5393;
  font-size: 0.85em;
  font-weight: 600;
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 4px 3px 0 rgba(45, 95, 152, 0.5019607843);
}

.home {
  height: 780px;
}

.services {
  height: 800px;
  background-color: #FFFFFF;
  position: relative;
}
.services-container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
}
.services-container__left {
  width: 55%;
  position: relative;
}
.services-container__left__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 5px solid #FFFFFF;
  border-radius: 25px;
  left: 180px;
  top: -200px;
  height: 900px;
  background-color: #FFFFFF;
}
.services-container__left__wrapper__content {
  height: 900px;
  border-radius: 25px;
  background-color: rgba(219, 219, 219, 0.2509803922);
}
.services-container__left__elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.services-container__left__elements__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-container__left__elements__item__logo {
  display: flex;
  justify-content: center;
}
.services-container__left__elements__item__text {
  text-align: center;
}
.services-container__right {
  width: 45%;
  position: absolute;
  right: 0;
  top: 0;
}

.skew-elem {
  background-color: #FFFFFF;
  height: 100px;
  width: 200%;
  position: relative;
  z-index: 0;
  transform: rotate(-1deg);
  top: -40px;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #333;
  font-family: "Open Sans";
  background-image: url(../ressources/cigogne.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
