.carousel {
    height: $carouselHeight;
    &-inner {
        height: 100%;
    }
    &-item {
        height: 100%;
        background: $carouselBgColor;
        color: $carouselTextColor;
        position: relative;
    }
    &-control {
        &-prev {
            left: 15%;
            bottom: 15%;
            top: auto;
            width: fit-content;
        }
        &-next {
            left: 18%;
            bottom: 15%;
            top: auto;
            width: fit-content;
        }        
    }
    &-indicators {
        left: 8%;
        bottom: 12%;
        width: fit-content;
        & > li {
            border-radius: $carouselIndicatorsRadius;
            width: $carouselIndicatorsWidth;
            height: $carouselIndicatorsHeight;
        }
    }    
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 150px;
}