#cardSlider {
    height: $cardSliderHeight;
    width: $cardSliderWidth;
    margin: $cardSliderMargin;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &Inner {
        width: $cardSliderInnerWidth;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    &Item {
        height: $cardSliderItemHeight;
        width: $cardSliderItemWidth;
        position: relative;
        & .plusWrapper {
            display: none;
            font-size: $plusWrapperFontSize;
            border-radius: $plusWrapperRadius;
            width: $plusWrapperWidth;
            height: $plusWrapperHeight;
            border: $plusWrapperBorder;
            background-color: $plusWrapperBgColor;
            color: $plusWrapperFontColor;
        }
        & img {
            height: fit-content;
            width: fit-content;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            border: $cardSliderItemBorderHover;
            border-radius: $cardSliderItemRadiusHover;
            & img {
                transform: $cardSliderItemTransformHover;
            }
            & .plusWrapper {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 0;
                transform: translateY(50%);
            }
        }
    }
    &Prev {
        width: $cardSliderBtnWidth;
        height: $cardSliderBtnHeight;
        background-color: $cardSliderBtnBgColor;
        border: $cardSliderBtnBorder;
        border-radius: $cardSliderBtnRadius;
        color: $cardSliderBtnFontColor;
        & i {
            font-size: $cardSliderBtnFontSize;
        }
        &:hover {
            cursor: pointer;
            background-color: $plusWrapperBgColor;
            color: lighten($cardSliderBtnFontColor, 20%);
        }
        &:focus {
            outline: none;
        }
    }
    &Next {
        width: $cardSliderBtnWidth;
        height: $cardSliderBtnHeight;
        background-color: $cardSliderBtnBgColor;
        border: $cardSliderBtnBorder;
        border-radius: $cardSliderBtnRadius;
        color: $cardSliderBtnFontColor;
        & i {
            font-size: $cardSliderBtnFontSize;
        }
        &:hover {
            cursor: pointer;
            background-color: $plusWrapperBgColor;
            color: lighten($cardSliderBtnFontColor, 20%);            
        }
        &:focus {
            outline: none;
        }
    }
}