
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__logo {
        margin: 25px 150px;
    }
}

.nav-wrapper {
    background-image: url(../ressources/fond-nav.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    z-index: 5;
    width: 60%;
    height: 10em;
}

.nav-content {
    width: 80%;
    height: 50px;
    font-size: 1em;
    color: $navTextColor;
    font-weight: 400;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    position: relative;
    &__item {
        width: $navItemwidth;
        margin: $navItemMargin;
        font-weight: $navItemFontWeight;
        color: $navTextColor;
        cursor: pointer;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.active-item {
            color: $navTextHover;
        }
        &__bullet {
            display: block;
            width: $navBulletWidth;
            height: $navBulletHeight;
            margin: $navBulletMargin;
            border-radius: $navBulletRadius;
            background-color: $navBulletBgColor;
            &.inactive {
                background-color: $navBulletHoverColor;
                display: none;
            }
        }
        &:hover {
            color: $navTextHover;
            & > span {
                display: block;
            }
            & > ul {
                display: flex;
            }
        }
    }
    &__sublist {
        background-color: $sublistBgColor;
        margin-top: 2px;
        width: $sublistWidth;
        height: $sublistHeight;
        border: $sublistBorder;
        border-radius: $sublistRadius;
        font-weight: 400;
        color: $navTextColor;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        display: none;
        // display: flex;
        cursor: default;
        position: relative;
        &::before {
            content: '';
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $sublistBorderColor;
            position: absolute;
            top:-3%;
            left: 50%;
            transform: translateX(-50%);
        }
        &.products {
            width: $sublistProductsWidth;
            transform: translateX(-60px);
            justify-content: flex-start;
            height: auto;
            font-size: $sublistProductsFontSize;
            background-color: $sublistProductsBgColor;
            &::before {
                content: '';
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid $sublistBorderColor;
                position: absolute;
                top:-3%;
                left: 62%;
                transform: translateX(-50%);
            }            
        }
        &__title {
            padding: calc($sublistProductsPadding * 2) calc($sublistProductsPadding * 2) 0 calc($sublistProductsPadding * 2);
            width: 100%;
            color: $navTextHover;
            font-weight: $sublistFooterTitleWeight;
        }
        &__section {
            display: flex;
            flex-direction: row;
            margin: $sublistProductsMargin 0;
            padding: 0 calc($sublistProductsPadding * 2);
            width: 100%;
            height: 125px;
            justify-content: space-between;
            &__list {
                display: inherit;
                flex-direction: column;
                justify-content: space-evenly;
                &__item {
                    &:not(:last-child) {
                        padding-bottom: calc($sublistProductsPadding / 2);
                        border-bottom: 1px solid $sublistUnderlineColor;
                    }
                    &:hover {
                        color: $sublistProductsItemHoverColor;
                        cursor: pointer;
                    }
                }
            }
        }        
        &__footer {
            background-color: $sublistFooterBgColor;
            border-radius: 0 0 $sublistRadius $sublistRadius;
            padding: calc($sublistProductsPadding * 2);
            &__title {
                color: $sublistFooterTextColor;
                font-weight: $sublistFooterTitleWeight;
            }
            &__text {
                color: $sublistFooterTextColor;
                font-weight: $sublistFooterTextWeight;
            }
        }
    }
    &__subitem {
        width: 80%;
        margin: 0 auto;
        padding: 15px 0;
        font-size: 0.85em;
        &:not(:last-child) {
            border-bottom: 1px solid $sublistUnderlineColor;
        }
        &:hover {
            color: $subitemHoverTextColor;
            cursor: pointer;
        }
    }
    &__contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-shrink: 0;
        margin: auto 0;
        position: relative;
        background-color: $navContactBgColor;        
        width: $contactWidth;
        height: $contactHeight;
        border-radius: $navContactRadius;
        color: $navContactTextColor;
        font-size: 0.9em;
        &__tel {
            cursor: pointer;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 100%;
            border-radius: $navContactRadius 0 0 $navContactRadius;
            background-color: lighten($navContactBgColor, 5%);
            &__call {
                margin: 0;
            }
            &__hours {
                margin: 0;
                font-size: 0.6em;
                font-weight: 400;
            }
        }
        &__logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &__mail {
            margin: 0;
            cursor: pointer;
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            &__text {
                margin: 0;   
            }
        }
    }
}