.skew-left {
    background-color: $white;
    min-height: $skewHeight;
    width: 150%;
    position: relative;
    z-index: 0;
    transform: $skewLeft;
    bottom: -80px;
}
.skew-right {
    background-color: $white;
    min-height: $skewHeight;
    width: 200%;
    position: relative;
    z-index: 0;
    transform: $skewRight;
    top: -40px;
}