footer {
    background: $footerBg;
    & .footer {
        height: $footerHeight;
        display: flex;
        flex-direction: row;
        padding: $footerPadding;
        color: $blackOpacity70;
        &__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: $footerLeftWidth;
            height: $footerLeftHeight;
        }
        &__address {
            width: $footerAddressWidth;
            height: $footerAddressHeight;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: $footerAddressPadding;
            & p {
                width: 100%;
                margin: 0;
                padding: 0;
                text-align: left;
            }
            & span {
                width: 100%;
                text-align: left;
                font-weight: $footerAddressTitleFontWeight;
            }
        }
        &__menu {
            width: $footerMenuWidth;
            height: $footerMenuHeight;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: $footerMenuMargin;
            padding: $footerMenuPadding;
            & ul {
                margin: $footerMenuListMargin;
                & > li {
                    margin-bottom: $footerMenuListItemMargin;
                    text-decoration: $footerMenuListTextDecoration;
                    color: $footerMenuListFontColor;
                    font-weight: $footerMenuListFontWeight;
                    &:hover {
                        cursor: pointer;
                        text-decoration: $footerMenuListTextDecorationHover;
                        color: $footerMenuListFontColorHover;
                    }
                }
            }
        }
        &__center {
            width: $footerCenterWidth;
            height: $footerCenterHeight;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__logo {
            display: flex;
            justify-content: center;
            position: relative;
            margin-bottom: $footerLogoMargin;
        }
        &__slogan {
            padding: $footerSloganPadding;
        }
        &__right {
            width: $footerRightWidth;
            height: $footerRightHeight;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        &__seo {
            width: $footerSeoWidth;
            padding: $footerSeoPadding;
            font-size: $footerSeoFontSize;
            &__title {
                font-weight: $footerSeoTitleFontWeight;
            }
            & p {
                margin: 0;
            }
        }
    }
    & .copyrigths {
        height: $copyrigthsHeight;
        width: $copyrigthsWidth;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        background-color: $copyrigthsBgColor;
        color: $copyrigthsFontColor;
        font-size: $copyrigthsFontSize;
    }
}
