.message {
    background-image: $messageBg;
    background-position: $messageBgPos;
    background-repeat: $messageBgRepeat;
    background-color: $messageBgColor;
    width: 100%;
    height: 100vh;
    &__wrapper {
        padding: $messageWrapperPadding;
        display: flex;
        flex-direction: row;
    }
    &__left {
        width: $messageLeftWidth;
        margin: $messageLeftMargin;
        padding: $messageLeftPadding;
        &__title {
            width: $messageLeftTitleWidth;
            font-size: $messageLeftTitleFontSize;
            font-weight: $messageLeftTitleFontWeight;
            color: $messageLeftTitleFontColor;
        }
        &__text {
            & p {
                margin: $messageLeftTextMargin;
                width: $messageLeftTextWidth;
            }
            & ul {
                width: $messageLeftTextListWidth;
                padding-left: $messageLeftTextListPadding;
                & > li {
                    list-style: $messageLeftTextListMarkerStyle;
                    &::marker {
                        font-size: $messageLeftTextListMarkerSize;
                        color: $messageLeftTextListMarkerColor;
                    }
                    & span {
                        font-size: $messageLeftTextListFontSize;
                    }                    
                }
            }
        }
    }
    &__right {
        width: $messageRightWidth;
        height: auto;
        &__image {
            width: $messageImageWidth;
            height: $messageImageHeight;
            max-width: $messageImageMaxWidth;
            max-height: $messageImageMaxHeight;
            border-radius: $messageImageRadius;
            overflow: hidden;
            position: relative;
            top: $messageImageTop;
            box-shadow: $messageImageBoxShadow;
            & img {
                position: relative;
                left: $messageImageLeft;
            }
        }
    }
}