.news {
    // height: $newsHeight;
    background-color: $newsBgColor;
    position: relative;
    width: $newsWidth;
    &__wrapper {
        width: 100%;
        min-height: $newsHeight;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: $newsPadding;
    }
}

.articles {
    display: flex;
    flex-direction: column;
    width: $articlesWidth;
    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: $articlesTitleFontSize;
        color: $articlesTitleFontColor;
        font-weight: $articlesTitleFontWeight;
        margin-bottom: $articlesTitleMargin;
    }
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: $articlesWrapperMargin;
    }
    &__item {
        width: $articlesItemWidth;
        height: $articlesItemHeight;
        margin: $articlesItemMargin;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        &__picture {
            height: $articlesPictureHeight;
            border-radius: $articlesPictureRadius;
            overflow: hidden;
            background-color: $articlesPictureBgColor;
            display: flex;
            justify-content: center;
            align-items: center;
            & img:not(.articles__item__logo) {
                width: 100%;
            }
            &:hover {
                cursor: pointer;
                box-shadow: $articlesPictureHoverBoxShadow;
                & img:not(.articles__item__logo) {
                    transform: scale(1.25);
                }
            }
        }
        &__logo {
            width: $articlesLogoWidth;
        }
        &__date {
            color: $articlesDateFontColor;
            margin: $articlesDateMargin;
            font-size: 1em;
            margin: 15px 0;
            & p {
                margin: 0;
            }
            & span {
                font-weight: $articlesDateSpanFontWeight;
            }
        }
        &__title {
            color: $blue;
            font-size: $articlesItemTitleFontSize;
            font-weight: $articlesItemTitleFontWeight;
            margin-bottom: $articlesItemTitleMargin;
        }
        &__link {
            height: $articlesLinkHeight;
            width: $articlesLinkWidth;
            color: $articlesLinkFontColor;
            font-weight: $articlesLinkFontWeight;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &__wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;                
            }
            & p {
                margin: 0;
            }
            & i {
                font-size: $articlesLinkArrowSize;
                margin-left: $articlesLinkArrowMargin;
            }
            &:hover {
                color: $articlesLinkFontColorHover;
                text-decoration: none;
            }
        }
    }
    &__btn {
        width: $articlesBtnWidth;
        height: $articlesBtnHeight;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $articlesBtnFontColor;
        font-weight: $articlesBtnFontWeight;
        font-size: $articlesBtnFontSize;
        background-color: $articlesBtnBgColor;
        border-radius: $articlesBtnRadius;
        position: relative;
        &:hover {
            text-decoration: none;
            color: $articlesBtnFontColorHover;
            background-color: $articlesBtnBgColorHover;
            border: $articlesBtnBorderHover;
            box-shadow: $articlesBtnHoverBoxShadow;
        }
        &__container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
.rdv {
    display: flex;
    flex-direction: column;
    width: $rdvWidth;
    &__title {
        width: 100%;
        display: flex;
        // justify-content: center;
        padding-left: $rdvTitlePadding;
        font-size: $rdvTitleFontSize;
        color: $rdvTitleFontColor;
        font-weight: $rdvTitleFontWeight;
        margin-bottom: $rdvTitleMargin;        
    }
    &__wrapper {
        padding: $rdvWrapperPadding;
    }
    &__item {
        display: flex;
        flex-direction: row;
        margin: $rdvItemMargin;
        border-radius: $rdvItemRadius;
        align-items: center;
        justify-content: space-around;
        padding: $rdvItemPadding;
        &:hover {
            background: $rdvItemBgHover;
            & > .rdv__date {
                border: $rdvDateBorderHover;
                & > .rdv__date__header {
                    background-color: $rdvDateHeaderBgColorHover;
                }
            }
            & > .rdv__detail {
                & > .rdv__detail__footer {
                    & > .rdv__detail__footer__link {
                        border: none;
                    }
                    & > .rdv__detail__footer__subscribe {
                        border: none;
                        background-color: $rdvDetailFooterSubscribeBgHover;
                        border-radius: $rdvDetailFooterSubscribeRadius;
                        color: $rdvDetailFooterSubscribeFontColorHover;
                    }
                }
            }
        }
    }
    &__date {
        height: $rdvDateHeight;
        width: $rdvDateWidth;
        display: flex;
        flex-direction: column;
        border: $rdvDateBorder;
        border-radius: $rdvDateRadius;
        color: $rdvDateFontColor;
        background-color: $rdvDateBgColor;
        &__header {
            font-size: $rdvDateHeaderFontSize;
            height: $rdvDateHeaderHeight;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: $rdvDateHeaderFontColor;
            padding: $rdvDateHeaderPadding;
            background-color: $rdvDateHeaderBgColor;
        }
        &__day {
            width: 100%;
            font-size: $rdvDateDayFontSize;
            line-height: $rdvDateDayLineHeight;
            font-weight: $rdvDateDayFontWeight;
            text-align: center;
            margin-top: $rdvDateDayMargin;
        }
        &__month {
            width: 100%;
            text-transform: uppercase;
            font-size: $rdvDateMonthFontSize;
            font-weight: $rdvDateMonthFontWeight;
            text-align: center;
        }
        &__year {
            font-size: $rdvDateYearFontSize;
            font-weight: bold;
            line-height: $rdvDateYearLineHeight;
            text-align: center;
        }
    }
    &__detail {
        display: flex;
        flex-direction: column;
        padding: $rdvDetailPadding;
        margin: $rdvDetailMargin;
        &__title {
            font-size: $rdvDetailTitleFontSize;
            color: $rdvDetailTitleFontColor;
            font-weight: $rdvDetailTitleFontWeight;
        }
        &__text {
            width: $rdvDetailTextWidth;
            font-size: $rdvDetailTextFontSize;
        }
        &__footer {
            display: flex;
            flex-direction: row;
            height: $rdvDetailFooterHeight;
            width: $rdvDetailFooterWidth;
            margin: $rdvDetailFooterMargin;
            justify-content: space-evenly;
            &__link {
                width: 50%;
                border-top: $rdvDetailFooterBorder;
                border-right: $rdvDetailFooterBorder;
                font-size: $rdvDetailFooterLinkFontSize;
                font-weight: $rdvDetailFooterLinkFontWeight;
                color: $rdvDetailFooterLinkFontColor;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    cursor: pointer;
                }
            }
            &__subscribe {
                width: 50%;
                border-top: $rdvDetailFooterBorder;
                font-size: $rdvDetailFooterLinkFontSize;
                font-weight: $rdvDetailFooterSubscribeFontWeight;
                color: $rdvDetailFooterSubscribeFontColor;
                display: flex;
                align-items: center;
                justify-content: center;
                & p {
                    margin: 0;
                }
                & i {
                    font-size: $rdvDetailFooterArrowFontSize;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &__btn {
        width: $rdvBtnWidth;
        height: $rdvBtnHeight;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $rdvBtnFontColor;
        font-weight: $rdvBtnFontWeight;
        font-size: $rdvBtnFontSize;        
        background-color: $rdvBtnBgColor;
        border-radius: $rdvBtnRadius;
        &:hover {
            text-decoration: none;
            color: $rdvBtnFontColorHover;
            background-color: $rdvBtnBgColorHover;
            border: $rdvBtnBorderHover;
            box-shadow: $rdvBtnHoverBoxShadow;
        }
        &__container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}