.news {
    // height: $newsHeight;
    background-color: $newsBgColor;
    position: relative;
    width: $newsWidth;
    &--wrapper {
        width: 100%;
        min-height: $newsHeight;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: $newsPadding;
    }
}

.articles {
    display: flex;
    flex-direction: column;
    width: $articlesWidth;
    &--title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: $articlesTitleFontSize;
        color: $articlesTitleFontColor;
        font-weight: $articlesTitleFontWeight;
        margin-bottom: $articlesTitleMargin;
    }
    &--wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: $articlesWrapperMargin;
    }
    &--item {
        width: $articlesItemWidth;
        height: $articlesItemHeight;
        margin: $articlesItemMargin;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        &--picture {
            height: $articlesPictureHeight;
            border-radius: $articlesPictureRadius;
            overflow: hidden;
            background-color: $articlesPictureBgColor;
            display: flex;
            justify-content: center;
            align-items: center;
            & img:not(.articles--item--logo) {
                width: 100%;
            }
            &:hover {
                cursor: pointer;
                box-shadow: $articlesPictureHoverBoxShadow;
                // filter: $articlesPictureHoverFilter;
            }
        }
        &--logo {
            width: $articlesLogoWidth;
        }
        &--date {
            color: $articlesDateFontColor;
            margin: $articlesDateMargin;
            font-size: 1em;
            margin: 15px 0;
            & p {
                margin: 0;
            }
            & span {
                font-weight: $articlesDateSpanFontWeight;
            }
        }
        &--title {
            color: $blue;
            font-size: $articlesItemTitleFontSize;
            font-weight: $articlesItemTitleFontWeight;
            margin-bottom: $articlesItemTitleMargin;
        }
        &--link {
            height: $articlesLinkHeight;
            width: $articlesLinkWidth;
            color: $articlesLinkFontColor;
            font-weight: $articlesLinkFontWeight;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &--wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;                
            }
            & p {
                margin: 0;
            }
            & i {
                font-size: $articlesLinkArrowSize;
                margin-left: $articlesLinkArrowMargin;
            }
            &:hover {
                color: $articlesLinkFontColorHover;
                text-decoration: none;
            }
        }
    }
    &--btn {
        width: $articlesBtnWidth;
        height: $articlesBtnHeight;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $articlesBtnFontColor;
        font-weight: $articlesBtnFontWeight;
        font-size: $articlesBtnFontSize;
        background-color: $articlesBtnBgColor;
        border-radius: $articlesBtnRadius;
        position: relative;
        &:hover {
            text-decoration: none;
            color: $articlesBtnFontColorHover;
            background-color: $articlesBtnBgColorHover;
            border: $articlesBtnBorderHover;
            box-shadow: $articlesBtnHoverBoxShadow;
        }
        &--container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
.rdv {
    display: flex;
    flex-direction: column;
    width: $rdvWidth;
    &--title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: $rdvTitleFontSize;
        color: $rdvTitleFontColor;
        font-weight: $rdvTitleFontWeight;
        margin-bottom: $rdvTitleMargin;        
    }
    &--wrapper {
        padding: $rdvWrapperPadding;
    }
    &--btn {
        width: $rdvBtnWidth;
        height: $rdvBtnHeight;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $rdvBtnFontColor;
        font-weight: $rdvBtnFontWeight;
        font-size: $rdvBtnFontSize;        
        background-color: $rdvBtnBgColor;
        border-radius: $rdvBtnRadius;
        &:hover {
            text-decoration: none;
            color: $rdvBtnFontColorHover;
            background-color: $rdvBtnBgColorHover;
            border: $rdvBtnBorderHover;
            box-shadow: $rdvBtnHoverBoxShadow;
        }
        &--container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}