.references {
    height: $referencesHeight;
    width: $referencesWidth;
    background-color: $referencesBgColor;
    &__slider {
        height: $referencesSliderHeight;
    }
    &__title {
        font-size: $referencesTitleFontSize;
        font-weight: $referencesTitleFontWeight;
        color: $referencesTitleFontColor;
        margin-bottom: $referencesTitleMargin;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}