
.services {
    height: $servicesHeight;
    background-color: $servicesBgColor;
    position: relative;
    &-container {
        position: relative;
        top: 0;
        left: 0;
        z-index: 5;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100%;
        &__left {
            width: $servicesContainerLeftWidth;
            height: 100%;
            position: relative;
            &__wrapper {
                position: absolute;
                width: 82%;
                z-index: 5;
                display: flex;
                flex-direction: column;
                border: $servicesContainerLeftWrapperBorder;
                border-radius: $servicesContainerLeftWrapperRadius;
                left: 180px;
                top: -200px;
                height: $servicesContainerLeftWrapperHeight;
                background-color: $servicesContainerLeftWrapperBgColor;
                &--shadow {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    width: 87%;
                    height: 0px;
                    left: 154px;
                    top: -180px;
                    border-top-left-radius: $servicesContainerLeftWrapperRadius;
                    border-top-right-radius: $servicesContainerLeftWrapperRadius;
                    border-top: 45vw solid rgba(0, 0, 0, 0.068);
                    border-left: 30px solid transparent;
                    border-right: 30px solid transparent;
                }
                &__content {
                    height: $servicesContainerLeftWrapperHeight;
                    border-radius: $servicesContainerLeftWrapperRadius;
                    background-color: $servicesContainerLeftWrapperContentBgColor;
                    padding: $servicesContainerLeftWrapperContentPadding;
                }
            }
            &__title {
                color: $servicesContainerLeftTitleFontColor;
                margin-bottom: calc($servicesContainerLeftWrapperContentPadding / 3);
            }
            &__bullet {
                width: $servicesContainerLeftBulletWidth;
                height: $servicesContainerLeftBulletHeight;
                background-color: $servicesContainerLeftBulletBgColor;
                border-radius: $servicesContainerLeftBulletRadius;
                margin-bottom: calc($servicesContainerLeftWrapperContentPadding / 2);
            }
            &__text {
                margin-bottom: calc($servicesContainerLeftWrapperContentPadding / 2);
            }
            &__elements {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                height: $servicesContainerLeftElementsHeight;
                margin-bottom: calc($servicesContainerLeftWrapperContentPadding / 2);
                &__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: $servicesContainerLeftElementsItemWidth;
                    height: 100%;
                    padding: $servicesContainerLeftElementsItemPadding;
                    &:not(:last-child) {
                        border-right: $servicesContainerLeftElementsItemBorder;
                    }
                    &__logo {
                        display: flex;
                        justify-content: center;
                    }
                    &__text {
                        text-align: center;
                    }
                }
            }
            &__footer {
                & .btn.btn-lg.btn-primary {
                    width: $servicesContainerLeftFooterBtnWidth;
                    height: $servicesContainerLeftFooterBtnHeight;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: transparent;
                    color: $servicesContainerLeftElementsButtonFontColor;
                    border: $servicesContainerLeftElementsButtonBorder;
                    border-radius: $servicesContainerLeftElementsButtonRadius;
                    & p {
                        height: 100%;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        font-size: $servicesContainerLeftElementsButtonFontSize;
                        font-weight: $servicesContainerLeftElementsButtonFontWeight;
                    }
                    & i {
                        height: 100%;
                        font-size: $servicesContainerLeftElementsButtonArrowSize;
                        display: flex;
                        align-items: center;
                    }
                    &:hover {
                        border-color: $servicesContainerLeftElementsButtonBorderHover;
                        transition: none;
                        > p {
                            color: $servicesContainerLeftElementsButtonFontColorHover;
                        }
                        > i {
                            color: $servicesContainerLeftElementsButtonFontColorHover;
                        }
                    }
                }
            }
        }
        &__right {
            width: calc(100% - $servicesContainerLeftWidth);
            height: 100%;
            position: absolute;
            padding: $servicesContainerRightPadding;
            right: 0;
            top: 0;
            &__title {
                font-size: $servicesContainerRightTitleFontSize;
                color: $servicesContainerRightTitleFontColor;
                font-weight: $servicesContainerRightTitleFontWeight;
            }
            &__services {
                &__item {
                    width: 75%;
                    display: flex;
                    flex-direction: row;
                    padding: $servicesContainerRightServicesItemPadding;
                    &__detail {
                        padding: $servicesContainerRightServicesItemDetailPadding;
                        &__title {
                            color: $servicesContainerRightServicesItemDetailTitleFontColor;
                            font-weight: $servicesContainerRightServicesItemDetailTitleFontWeight;
                        }
                    }
                    &__arrow {
                        & i {
                            font-size: $servicesContainerRightServicesItemArrowFontSize;
                            color: $servicesContainerRightServicesItemArrowFontColor;
                        }
                    }
                    &:hover {
                        border: $servicesContainerRightServicesItemBorderHover;
                        border-radius: $servicesContainerRightServicesItemBorderRadiusHover;
                        background: $servicesContainerRightServicesItemBgHover;
                        background-repeat: no-repeat;
                        background-position: right;
                        & > .services-container__right__services__item__detail > .services-container__right__services__item__detail__title {
                            color: $servicesContainerRightServicesItemDetailTitleFontColorHover;
                        }
                        & > .services-container__right__services__item__arrow {
                            & > i {
                                color: $servicesContainerRightServicesItemArrowFontHover;
                            }
                        }
                    }
                }
            }
        }
    }
}