@media screen and (max-width: 1350px) {
    .nav-content {
        font-size: 0.9em;
        &__item {
            margin: 0 5px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .header__logo {
        margin: 25px 50px;
    }
    .nav-content__contact {
        font-size: 0.8em;
        width: 50%;
        &__logo {
            & img {
                width: 70%;
            }
        }
    }
}
@media screen and (max-width: 1100px) {
    #myCarousel .carousel-indicators {
        left: 12%;
    }
}
@media screen and (max-width: 1000px) {
    .header {
        flex-direction: column-reverse;
        &__logo {
            margin: 10px 0;
        }
    }
    .nav-wrapper {
            background: $white;
            width: 100%;
            height: fit-content;
    }
    .nav-content {
        margin: 10px auto;
        &__contact {
            font-size: 1em;
            width: 40%;
            &__logo {
                & img {
                    width: 70%;
                }
            }
        }        
    }
    footer .footer {
        height: auto;
        padding: 0 20px;
        font-size: 0.9em;
        &__logo {
            & img {
                width: 25vw;
            }
        }
        &__address {
            padding: 0;
        }
        &__menu {
            padding: 0;
        }
        &__slogan {
            padding: 0;
        }
        &__seo {
            padding: 50px 0 0 50px;
        }
    }    
}
@media screen and (max-width: 950px) {
    #myCarousel .carousel-indicators {
        left: 15%;
    }
    .services-container {
        flex-direction: column;
    }
    .services-container__left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 70vh;        
    }
    .services-container__left__wrapper--shadow {
        left: auto;
    }
    .services-container__left__wrapper {
        left: auto;
    }
    .services-container__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .services-container__right__title {
        justify-content: center;
    }
    .services-container__right__services {
        align-items: center;
    }
    .news__wrapper {
        flex-direction: column;
        padding: 0;
    }
    .articles {
        width: 100%;
    }
    .articles__btn__container {
        margin: 15% auto;
    }
    .rdv {
        width: 100%;
        margin: 15% auto;
        &__title {
            padding: 0;
            justify-content: center;
        }
    }
    .rdv__wrapper {
        padding: 0;
    }
    .message__wrapper {
        flex-direction: column;
    }
    .message__left {
        width: 100%;
        margin: 15% auto;
    }
    .message__right {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .nav-content {
        margin: 10px auto;
        &__contact {
            font-size: 0.7em;
            width: 40%;
            &__logo {
                & img {
                    width: 70%;
                }
            }
        }        
    }
    .nav-content__sublist.products {
        transform: none;
        &::before {
            left: 50%;
        }
    }
    .services-container__left {
        height: 100vh;
    }
}
@media screen and (max-width: 700px) {
    #cardSliderItem {
        width: 90px;
        height: 90px;
        & a {
            & img {
                width: 50px;
                height: auto;
            }
        }
    }
}
@media screen and (max-width: 670px) {
    .nav-content {
        margin: 10px 0 5px 25px;
    }
    .nav-content__item.active-item {
        & .nav-content__sublist {
            position: absolute;
            top: 90%;
            left: 0;
            &::before {
                content: none;
            }
        }
    }
    .nav-content__sublist.products {
        transform: translateX(5%);
        &::before {
            left: 50%;
        }
    }
}
@media screen and (max-width: 600px) {
    .nav-content__contact {
        display: none;
    }
    .nav-content__sublist {
        &.products {
            transform: translateX(5%);
            width: 200px;
            &::before {
                left: 45%;
            }
        }
        &__section {
            height: auto;
            flex-direction: column;
        }
    }
    #myCarousel .carousel-indicators {
        left: 25%;
    }
}
@media screen and (max-width: 575px) {
    .services-container__left {
        height: 120vh;
    }
}
@media screen and (max-width: 550px) {
    .services-container__left {
        height: 140vh;
    }
    .articles__wrapper {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}