@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

$fontFamily: 'Open Sans';
$pink: #F18B87;
$blue: #1b5393;

$bgColor: #333;
$navBgColor: #FFFFFF;
$navTextColor: #1b5393cc;
$navTextHover: $blue;
$navContactBgColor: #F18B87;
$navContactTextColor: #FFFFFF;
$sublistBgColor: #fffffff2;
$sublistBorderColor: lightgrey;
$subitemHoverTextColor: $pink;

$navContactRadius: 25px;