@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

$fontFamily: 'Open Sans';
$pink: #F18B87;
$blue: #1b5393;
$blueOpacity50: #2d5f9880;
$white: #FFFFFF;
$black: #000000;

// pages & globals
$bgColor: #333;
$homeBgImage: url(../ressources/cigogne.jpg);
$homeHeight: 780px;
$ppIcon: url(../ressources/pp_icon.png);
$ppIconLarge: url(../ressources/pp_icon_large.png);
$servicesBgColor: $white;
$servicesHeight: 900px;
$skewRight: rotate(-1deg);
$skewHeight: 100px;

// navbar
$navBgColor: $white;
$navTextColor: #1b5393a6;
$navTextHover: $blue;
$navBulletBgColor: $pink;
$navBulletHoverColor: #f18a872c;
$navContactBgColor: $pink;
$navContactTextColor: $white;

$navBulletRadius: 25px;
$navBulletWidth: 20px;
$navBulletHeight: 6px;
$navBulletMargin: 10px 0;
$navContactRadius: 25px;
$navItemwidth: 80px;
$navItemFontWeight: 600;
$navItemMargin: 0 20px;

// navbar - contact
$contactWidth: 330px;
$contactHeight: 50px;

// sublist
$sublistBgColor: #fffffff2;
$sublistBorderColor: lightgrey;
$sublistUnderlineColor: #d3d3d33a;
$subitemHoverTextColor: $pink;

$sublistWidth: 180px; 
$sublistHeight: 200px;
$sublistRadius: 20px;
$sublistBorder: 1px solid $sublistBorderColor;

// sublist - products
$sublistProductsBgColor: #fffffff2;
$sublistFooterBgColor: #d3d3d323;
$sublistProductsItemHoverColor: $pink;
$sublistFooterTextColor: $black;
$sublistFooterTitleWeight: 600;
$sublistFooterTextWeight: 300;
$sublistProductsWidth: 500px;
$sublistProductsPadding: 10px;
$sublistProductsMargin: 10px;
$sublistProductsFontSize: 0.85em;

// carousel
$carouselHeight: 32rem;
$carouselBgColor: transparent;
$carouselTextColor: $white;
$carouselButtonBgColor: #fffffff2;
$carouselButtonBorder: none;
$carouselButtonBoxShadow: 4px 3px 0 #2d5f9880;
$carouselButtonHeight: 45px;
$carouselButtonWidth: 150px;
$carouselButtonRadius: 25px;
$carouselButtonTextColor: $blue;
$carouselButtonFontSize: 0.85em;
$carouselButtonFontWeight: 600;
$carouselContainerFontSize: 30px;
$carouselContainerFontWeight: 600;
$carouselContainerPadding: 200px;
$carouselContainerTextShadow: 1px 1px 10px rgba(0, 0, 0, 0.329);
$carouselContainerWidth: 70%;
$carouselControlBgColor: #ffffffcc;
$carouselControlFontColor: $blue;
$carouselControlFontSize: 20px;
$carouselControlFontWeight: 200;
$carouselControlHeight: 44px;
$carouselControlInnerBorder: 1px solid $blueOpacity50;
$carouselControlWidth: 44px;
$carouselControlRadius: 25px;
$carouselIndicatorsActiveColor: $pink;
$carouselIndicatorsBorder: 2px solid $white;
$carouselIndicatorsContainerHeight: $carouselControlHeight;
$carouselIndicatorsHeight: 14px;
$carouselIndicatorsWidth: 14px;
$carouselIndicatorsRadius: 50%;

// services
$servicesContainerLeftWidth: 56%;
$servicesContainerLeftWrapperHeight: 900px;
$servicesContainerLeftWrapperRadius: 25px;
$servicesContainerLeftWrapperBorder: 5px solid $white;
$servicesContainerLeftWrapperBgColor: $white;
$servicesContainerLeftWrapperContentBgColor: #dbdbdb40;
$servicesContainerLeftWrapperContentPadding: 80px;
$servicesContainerLeftTitleFontColor: $blue;
$servicesContainerLeftElementsHeight: 180px;
$servicesContainerLeftElementsItemWidth: 33%;
$servicesContainerLeftElementsItemPadding: 0 20px;
$servicesContainerLeftElementsItemBorder: 1px solid lightgrey;
$servicesContainerLeftElementsButtonBorder: 1px solid $blue;
$servicesContainerLeftElementsButtonBorderHover: $pink;
$servicesContainerLeftElementsButtonFontColor: $blue;
$servicesContainerLeftElementsButtonFontColorHover: $pink;
$servicesContainerLeftElementsButtonFontSize: 15px;
$servicesContainerLeftElementsButtonArrowSize: 30px;
$servicesContainerLeftElementsButtonFontWeight: 600;
$servicesContainerLeftElementsButtonRadius: 25px;
$servicesContainerLeftFooterBtnWidth: 230px;
$servicesContainerLeftFooterBtnHeight: 50px;
$servicesContainerLeftBulletWidth: 80px;
$servicesContainerLeftBulletHeight: 6px;
$servicesContainerLeftBulletRadius: 25px;
$servicesContainerLeftBulletBgColor: $pink;

$servicesContainerRightPadding: 0 15px;
$servicesContainerRightTitleFontSize: 30px;
$servicesContainerRightTitleFontColor: $blue;
$servicesContainerRightTitleFontWeight: bold;
$servicesContainerRightServicesItemPadding: 20px;
$servicesContainerRightServicesItemDetailPadding: 0 25px;
$servicesContainerRightServicesItemDetailTitleFontColor: $blue;
$servicesContainerRightServicesItemDetailTitleFontWeight: bold;
$servicesContainerRightServicesItemArrowFontSize: 45px;
$servicesContainerRightServicesItemArrowFontColor: $blue;